body {
  min-height: 200px;
  padding-top: 70px;
}
th, tr {
    height:25px;
    width:50px;
}

.jumbotron{
	padding-top: 10px;
	padding-bottom: 10px;
}
.form-inline{
	padding-bottom:10px;
}

#ssText{
	width:30%;
}
#departmentText{
	width:50%;

}
span{
	padding-left: 12px;
}
/*OVERRIDE TIMEPICKER*/
.bootstrap-timepicker-widget table td a {
	padding:0px;
}
/*.bootstrap-timepicker{
	max-width:50px !important;
}*/
.tp1, .tp2{
	width:80px;
}

#payrollLabel{
	font-style:italic;
	font-weight:bold;
}
h6{
	font-style:italic;
}
span{
	font-style:normal;
}
.weekTotal, .overAllTotal{
	font-weight:bold;
}

.preview-pane{
	width:100%;
	height:650px;
	border:0;
}
